# ==========================================
# YUNCAR Backend - Variables de entorno
# ==========================================

# --- Servidor ---
PORT=3001
NODE_ENV=development

# --- MongoDB Atlas ---
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/yuncar?retryWrites=true&w=majority&appName=<cluster>

# --- Email SMTP ---
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_USER=<cuenta>@outlook.com
SMTP_PASS=<app-password-16-caracteres>
MAIL_TO=<destino-final>@dominio.com

# --- Panel Admin---
ADMIN_KEY=<clave-secreta-fuerte>

# --- CORS ---
FRONTEND_URL=http://localhost:5173